<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POECraftHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <POECraftHelper.Properties.Settings>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SoundType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegexPatternsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsWindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SettingsWindowWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SettingsWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsSoundExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRegexExpanded" serializeAs="String">
                <value>True</value>
            </setting>
        </POECraftHelper.Properties.Settings>
    </userSettings>
</configuration>